.billing-container {
  height: 60vh!important;
}

.billing-container .cl-rootBox {
  height: 100%!important;
}

.billing-container .cl-pricingTable {
  height: 100%!important;
}

.billing-container .cl-pricingTableCard {
  height: 100%!important;
}